
h1, body, html {
  padding: 0;
  margin: 0;
  font-family: 微软雅黑;
  cursor: pointer;
}
a{
  color: #516395;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
html, body {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 4em;
  font-weight: bold;
}

p {
  font-size: 1em;
  margin: 0.5em 0 2em 0;
}

#container, .section {
  height: 100%;
  position: relative;
}

#section0,  #section1,  #section2,  #section3 {
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
}

#section0 {
  background-color: #22C3AA;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

#section1 {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-color: #516395;
}

#section2 {
  background-color: #26B1B6;
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}

#section3 {
  color: #fff;
  background-color: #129DE7;
  text-shadow: 1px 1px 1px #fff;
}
#section4 {
  color: #fff;
  background-color: #ED6461;
  text-shadow: 1px 1px 1px #fff;
}

#section0 .student{
  color: #fff;
}

#section0 p { color: #AEE2D9;font-weight: bold;font-size: 1.2em; }
#section2 p { color: #fff;font-weight: bold;font-size: 1.2em;margin-left: -30%; }
#section3 p { color: #000;font-size: 1.2em;font-weight: bold;}
#section4 p { color: #fff;font-size: 1.2em;}
.left { float: left; }

.intro {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
#space{
  width: 20%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 1% 0 1% 10%;
}
#space p { color: #000;}
#space1{
  width: 20%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 1% 5% 1% 7%;
}
#pages {
  position: fixed;
  right: 10px;
  top: 50%;
  list-style: none;
}

#pages li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 0 0 10px 5px;
}

#pages li.active {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFE00;
  background: none;
  margin-left: 0;
}

#section0 .title {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
  animation: sectitle0 1s ease-in-out 100ms forwards;
}

#section0 p {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: sec0 1s ease-in-out 100ms forwards;
  animation: sec0 1s ease-in-out 100ms forwards;
}
 @-webkit-keyframes 
sectitle0 {  0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes 
sectitle0 {  0% {
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @-webkit-keyframes 
sec0 {  0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
 @keyframes 
sec0 {  0% {
 -webkit-transform: translateX(100%);
 transform: translateX(100%);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
